/* TELEPHONE AND SOCIAL MEDIA-ICONS*/

nav {
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.tel-social-media {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding-right: 6em;
  background-color: burlywood;
  padding-top: .4em;
  padding-bottom: .4em;
}

.telephone {
  display: flex;
}

.fa-phone {
  position: relative;
  top: 6px;
  right: 3px;
  font-size: .8em;
}

.telephone p {
  font-size: .9em;
  font-weight: bold;
  margin: 0;
}

.fa-facebook,
.fa-instagram {
  color: #000;
  padding-top: .2em;
}

.fa-brands:hover,
.fa-brands:active {
  color: #fff;
}

/* MAIN NAVIGATION */

.main-navigation {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding-left: clamp(2em,7vw,7em);
  padding-right: clamp(2em,7vw,7em);
}

.logo {
  width: 6em;
  height: 100%;
  border-radius: 50%;
}

.main-navigation-a li {
  display: inline-block;
  line-height: 4.5em;
  padding-left: clamp(2em,7vw,5em);
}

.main-navigation-a a {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.main-navigation-a a:hover,
.main-navigation-a a:active {
  color: rgba(255,255,255,.5);
}

.price-list a {
  color: #fff;
  font-weight: 700;
}

.contact  {
  background-image:  linear-gradient(160deg, #f7a461, #d89c5e, #fec4a2, #bb9a56, #d0b578);
  background-position: 99%;
  background-size: 202px;
  transition: 1s;
  padding: 1em 2em;
  font-weight: 700;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  text-shadow:  1px 1px 3px rgb(121, 121, 121);
}

.contact a:hover,
.contact a:active {
   background-position: 1%;
   color: #fff;
}

.welcome {
  background-image: linear-gradient(180deg,rgba(255,255,255,0.2) ,#fff 100%),
  url("../images/giorgio-trovato-gb6gtiTZKB8-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.welcome h1 {
  font-weight: normal;
  font-size: clamp(1em,5vw,2em);
  font-style: italic;
  line-height: 1.7em;
  color: #222;
  margin-bottom: 2em;
}

.welcome-order-button {
  text-align: center;
  padding-bottom: 4em;
}

.order-button {
  display: inline-block;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
  background-color: var(--color-order-button);
  border-radius: 2em;
  padding: 1em;
  transition: all .5s ease-in-out;
}

.order-button:hover,
.order-button:active {
  letter-spacing: 8px;
}

.fa-circle-chevron-right {
  padding-right: 1em;
}

/* HEADER O SALONE */

.about_salon_header {
  color:  #fff;
  width: 40%;
  padding-top: 12.5em;
  padding-left: 2em;
}

.about_salon_header h2 {
  font-size: 2em;
}

.about_salon_header p {
  line-height: 1.7em;
  font-weight: bold;
}

.about_salon_header_bg {
  height: 110vh;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/designecologist-r-Ej0NQmFlQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.buttons_about_salon {
  margin-top: 1.8em;
}

.buttons_about_salon .order-button {
  margin-right: 2em;
}

.price_button {
  display: inline-block;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
  border-radius: 2em;
  padding: 1em;
  transition: all .5s ease-in-out;
  border: 2px solid var(--color-order-button);
}

.price_button:hover,
.price_button:active {
  letter-spacing: 8px;
}

  /* GALERIA */

  .gallery_show_nails {
    padding-top: 13em;
    text-align: center;
  }

  .gallery_show_nails h1 {
    text-decoration: underline solid var(--color-fa-regular-icons) 2px;
    text-underline-offset: 10px;
  }

  .gallery_show_nails p {
    font-size: 20px;
    width: 5em;
    margin: 0 auto;
    text-decoration: underline solid var(--color-fa-regular-icons) 2px;
    text-underline-offset: 7px;
  }

  .gallery_image_second {
    text-align: center;
    margin-top: 5em;
  }

  .gallery_image_second img {
    vertical-align: middle;
    width: 14em;
    height: 14em;
    transition: all .5s ease-in-out;
    padding: .3em;
    border: 3px solid var(--color-fa-regular-icons);
}

.gallery_image_second img:hover {
  transform: scale(.95);
}

/* NICE EFFECT FOR IMAGES */
/* IMAGES HAVE TO BE SAME SIZE */

/* .gallery img {
	width: 33.333333333%;
	height: auto;
	max-width: 100%;
} */

/* .container {
	max-width: 1150px;
	margin: 0 auto;
} */

/* #overlay {
	background: rgba(0,0,0,.7);
	width: 100%;
  height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	text-align: center;
  margin-top: 9em;
}*/

/* #overlay img {
	border: 5px solid white;
	border-radius: 5px;
} */ 


  
  








